/* Global Styles */
body {
    background-color: #0F172A;
    color: #F1F5F9;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Layout */
header,
main,
footer {
    padding: 2rem;
}

section {
    background-color: #1E293B;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 8px;
}

/* Typography */
h1,
h2,
h3 {
    font-family: 'Orbitron', sans-serif;
    color: #FF2E63;
}

ul {
    margin-left: 1.5rem;
}

/* Wireframe Styling */
.wireframe {
    background-color: #0F172A;
    border: 2px solid #FF2E63;
    padding: 5rem;

    
}

/* Footer */
footer {
    text-align: center;
    border-top: 1px solid #FF2E63;
}